@charset "UTF-8";

body{
	background-image: url('/home/joaopaulo/Imagens/mulher-correndo-exercicios.jpg'); /*comando para adicionar o papel de parede*/
	background-size: cover; /*comando para dimensionar a imagem em todo o site*/
	background-repeat: no-repeat; /*comando para não repetir imagem*/
}

.container{
	width: 200px;
	height: 500px;
	background-image: linear-gradient(to left, #FFFFFE, #F5DB52, #E4C083, #EBC244);
	padding: 10px;
	margin: 20px;
	box-shadow: 5px 5px 6px black;
	border-style: outset;
}

button{
	margin: 32px;
	font-family: Impact;
	color: #FA7300;
	text-shadow: 1px 1px 0px white;
	background-color: white;
	background-size: 200%;
	width: 60%;
	height: 10%;
	font-size: 15px;
	cursor: pointer;
}

button:hover{
	transform: scale(1.1);
	transition: 0.5s;
	color: #FA7300;
	background-color: yellow;
	background-position: right;
}

h1{
	text-align: center;
	font-family: georgia, serif;
}

p{
	text-align: justify;
	text-indent: 20px;
	font-family: times;
	font-size: 19px;
}